<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Add Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Add Bootstrap Icons (Bootstrap Icons CDN) -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.15.0/font/bootstrap-icons.css">

    <style>
      body {
        font-family: "Calibri";
        overflow: hidden;
        padding-top: 10px; /* Adjust the body padding to accommodate the fixed navbar */
      }

      .navbar {
        background-color: #ffffff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        padding: 15px;
        border-radius: 10px;
        margin: 10px 100px;
      }

      .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      .nav-logo {
        width: 120px;
        margin-left: 15px;
      }

      .logout-icon {
        width: 20px;
        margin-right: 20px; /* Add margin to separate the logout icon from the right edge */
      }

      .container {
        display: flex;
        margin: 0 50px;
        margin-top: 100px;
        height: 80vh;

      }

      .left {
        flex: 1;
        overflow-y: scroll;
        padding: 20px;
        margin: 0 30px;
        margin-left: 40px;
      }

      .right {
        flex: 2;
        border: 0.1px solid #f0eded;
        padding: 5px;
        background-color: #ffffff;
        margin: 10px;
        border-radius: 10px;
        margin-left: 40px;
        padding-left: 30px;
      }

      .card {
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-top: 10px;
      }

      .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      .reject {
        background-color: #ff5733;
        color: #fff;
      }

      .approve {
        background-color: #33cc33;
        color: #fff;
      }

      /* Customize the scrollbar */
      ::-webkit-scrollbar {
        width: 12px; /* Width of the entire scrollbar */
      }

      ::-webkit-scrollbar-track {
        background: #ffffff; /* Color of the track (the background behind the scrollbar) */
      }

      ::-webkit-scrollbar-thumb {
        background-color: #f8f8f8; /* Color of the thumb (the draggable part of the scrollbar) */
        border-radius: 6px; /* Rounded corners */
      }

      ::-webkit-scrollbar-thumb:hover {
        background-color: #ffffff; /* Color of the thumb when hovered */
      }

      .applicant-info {
        font-size: 12px;
      }

      .logo {
        max-width: 100px; /* Adjust the maximum width as needed */
      }

      .company-name {
        font-weight: bold;
        margin-top: 10px;
      }

      .divider {
        border-top: 1px solid #ccc;
        margin-top: 10px;
      }

      .section-heading {
        font-weight: bold;
        margin-top: 20px;
      }

      /* Add additional styling for the text area as needed */
      .message-textarea {
        width: 100%;
        padding: 10px;
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        resize: vertical;
      }

    </style>

  </head>
  <body onload="setValues();">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="nav-container">

        <a class="navbar-brand" href="#">
          <img
            class="nav-logo"
            src="/assets/images/AmaStata logo.png"
            alt="Logo"
            width="50"
          />

        </a>

        <div class="nav-link" style="width: '100%'; display: flex; align-items: center; justify-content: space-between;">
          <a id="pendingBtn" style="height: 40px; display: flex; align-items: center;" class="nav-link text-secondary fw-bold mx-3" href="#">
            <img width="30px" src="/assets/icons/application.png" alt="">
            <p style="margin-top: 15px; margin-left: 5px;">Applications</p>
          </a>
          <a id="approvedBtn" style="height: 40px; display: flex; align-items: center;" class="nav-link text-secondary fw-bold mx-3" href="#">
            <img width="30px" src="/assets/icons/approved.jpg" alt="">
            <p style="margin-top: 15px; margin-left: 5px;">Approved</p>
          </a>
          <a id="rejectedBtn" style="height: 40px; display: flex; align-items: center;" class="nav-link text-secondary fw-bold mx-3" href="#">
            <img width="30px" style="border-radius: 500px;" src="/assets/icons/rejected.jpg" alt="">
            <p style="margin-top: 15px; margin-left: 5px;">Rejected</p> 
          </a>
          <a id="readyBtn" style="height: 40px; display: flex; align-items: center;" class="nav-link text-secondary fw-bold mx-3" href="#">
            <img width="30px" style="border-radius: 500px;" src="https://i0.wp.com/eupha.org/repository/EUPHW/13_May_being_physically_active_Animated_icon_EUPHW.gif?w=780&ssl=1" alt="">
            <p style="margin-top: 15px; margin-left: 5px;">Active</p> 
          </a>
        </div>

        <a id="logoutBtn" class="nav-link" href="#">
          <img
            src="/assets/images/NoPath - Copy (34).png"
            alt="Logout"
            class="logout-icon"
          />
        </a>

        <script>
          document.getElementById('logoutBtn').addEventListener('click', () => {
            window.location.href = "/";
          });
        </script>

      </div>
    </nav>

    <div class="container">
      <div class="left">
        <div
          style="
            position: absolute;
            z-index: 999;
            top: 110px;
            background-color: #fff;
            width: 300px;
          "
        >
          
        </div>

        <div style="display: none;" id="rejected-lenders">
          <% for (let i = 0; i < rejectedLenders.length; i++) { %> 
          
            <% 
            let lender = rejectedLenders[i]; 
            let arg_companyName = rejectedLenders[i].LenderCompanyInfo.companyName; 
            let arg_businessOperationalAddress
            =rejectedLenders[i].LenderCompanyInfo.businessOperationalAddress; let
            arg_phoneNumberPrimaryCompany =
            rejectedLenders[i].LenderCompanyInfo.phoneNumberPrimary; let arg_businessWebsite
            = rejectedLenders[i].LenderCompanyInfo.businessWebsite; let arg_firstname =
            rejectedLenders[i].AuthorizedPersonel.firstname; let arg_lastname =
            rejectedLenders[i].AuthorizedPersonel.lastname; let arg_phoneNumberPrimary =
            rejectedLenders[i].AuthorizedPersonel.phoneNumberPrimary; let arg_emailAddress =
            rejectedLenders[i].AuthorizedPersonel.emailAddress; let arg_occupation =
            rejectedLenders[i].AuthorizedPersonel.occupation; let arg_NRCPath =
            rejectedLenders[i].AuthorizedPersonel.NRCFilePath; let arg_KYCPath =
            rejectedLenders[i].LenderKYCDocument.KYCDocumentFilePath; let
            arg_businessEmailAddress =
            rejectedLenders[i].LenderCompleteSetup.businessEmailAddress; let arg_lenderID =
            rejectedLenders[i]._id;
            let arg_LenderLogo = rejectedLenders[i].LenderAdvert.logo;
            %>
            
            <div class="card">
              <div style="display: flex; align-items: center">
                <img
                  style="padding: 10px; "
                  class="logo"
                  src="<%= lender.LenderAdvert.logo %>"
                  alt="Company Logo"
                />
                <div>
                  <h4><%= lender.LenderCompanyInfo.companyName %></h4>
    
                  <button
                    onclick="viewApplication(
                        '<%= arg_companyName %>',
                        '<%= arg_businessOperationalAddress %>',
                        '<%= arg_phoneNumberPrimaryCompany %>',
                        '<%= arg_businessWebsite %>',
                        '<%= arg_businessEmailAddress %>',
                        '<%= arg_firstname %>',
                        '<%= arg_lastname %>',
                        '<%= arg_phoneNumberPrimary %>',
                        '<%= arg_emailAddress %>',
                        '<%= arg_occupation %>',
                        '<%= arg_KYCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_NRCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_lenderID %>',
                        '<%= arg_LenderLogo %>'
    
                        
                    );"
                    class="btn btn-primary btn-sm"
                  >
                    View Application
                  </button>
                </div>
              </div>
            </div>
            <% } %>
        </div>
        <div style="display: block;" id="pending-lenders">
          <% for (let i = 0; i < pendingLenders.length; i++) { %> 
          
            <% 
            let lender = pendingLenders[i]; 
            let arg_companyName = pendingLenders[i].LenderCompanyInfo.companyName; 
            let arg_businessOperationalAddress
            =pendingLenders[i].LenderCompanyInfo.businessOperationalAddress; let
            arg_phoneNumberPrimaryCompany =
            pendingLenders[i].LenderCompanyInfo.phoneNumberPrimary; let arg_businessWebsite
            = pendingLenders[i].LenderCompanyInfo.businessWebsite; let arg_firstname =
            pendingLenders[i].AuthorizedPersonel.firstname; let arg_lastname =
            pendingLenders[i].AuthorizedPersonel.lastname; let arg_phoneNumberPrimary =
            pendingLenders[i].AuthorizedPersonel.phoneNumberPrimary; let arg_emailAddress =
            pendingLenders[i].AuthorizedPersonel.emailAddress; let arg_occupation =
            pendingLenders[i].AuthorizedPersonel.occupation; let arg_NRCPath =
            pendingLenders[i].AuthorizedPersonel.NRCFilePath; let arg_KYCPath =
            pendingLenders[i].LenderKYCDocument.KYCDocumentFilePath; let
            arg_businessEmailAddress =
            pendingLenders[i].LenderCompleteSetup.businessEmailAddress; let arg_lenderID =
            pendingLenders[i]._id;
            let arg_LenderLogo = pendingLenders[i].LenderAdvert.logo;
            %>
            
            <div class="card">
              <div style="display: flex; align-items: center">
                <img
                  style="padding: 10px; "
                  class="logo"
                  src="<%= lender.LenderAdvert.logo %>"
                  alt="Company Logo"
                />
                <div>
                  <h4><%= lender.LenderCompanyInfo.companyName %></h4>
    
                  <button
                    onclick="viewApplication(
                        '<%= arg_companyName %>',
                        '<%= arg_businessOperationalAddress %>',
                        '<%= arg_phoneNumberPrimaryCompany %>',
                        '<%= arg_businessWebsite %>',
                        '<%= arg_businessEmailAddress %>',
                        '<%= arg_firstname %>',
                        '<%= arg_lastname %>',
                        '<%= arg_phoneNumberPrimary %>',
                        '<%= arg_emailAddress %>',
                        '<%= arg_occupation %>',
                        '<%= arg_KYCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_NRCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_lenderID %>',
                        '<%= arg_LenderLogo %>'
    
                        
                    );"
                    class="btn btn-primary btn-sm"
                  >
                    View Application
                  </button>
                </div>
              </div>
            </div>
            <% } %>
        </div>
        <div style="display: none;" id="approved-lenders">
          <% 
          for (let i = 0; i < approvedLenders.length; i++) { %> 
          
            <% 
            let lender = approvedLenders[i]; 
            let arg_companyName = approvedLenders[i].LenderCompanyInfo.companyName; 
            let arg_businessOperationalAddress
            =approvedLenders[i].LenderCompanyInfo.businessOperationalAddress; let
            arg_phoneNumberPrimaryCompany =
            approvedLenders[i].LenderCompanyInfo.phoneNumberPrimary; let arg_businessWebsite
            = approvedLenders[i].LenderCompanyInfo.businessWebsite; let arg_firstname =
            approvedLenders[i].AuthorizedPersonel.firstname; let arg_lastname =
            approvedLenders[i].AuthorizedPersonel.lastname; let arg_phoneNumberPrimary =
            approvedLenders[i].AuthorizedPersonel.phoneNumberPrimary; let arg_emailAddress =
            approvedLenders[i].AuthorizedPersonel.emailAddress; let arg_occupation =
            approvedLenders[i].AuthorizedPersonel.occupation; let arg_NRCPath =
            approvedLenders[i].AuthorizedPersonel.NRCFilePath; let arg_KYCPath =
            approvedLenders[i].LenderKYCDocument.KYCDocumentFilePath; let
            arg_businessEmailAddress =
            approvedLenders[i].LenderCompleteSetup.businessEmailAddress; let arg_lenderID =
            approvedLenders[i]._id;
            let arg_LenderLogo = approvedLenders[i].LenderAdvert.logo;
            %>
            
            <div class="card">
              <div style="display: flex; align-items: center">
                <img
                  style="padding: 10px; "
                  class="logo"
                  src="<%= lender.LenderAdvert.logo %>"
                  alt="Company Logo"
                />
                <div>
                  <h4><%= lender.LenderCompanyInfo.companyName %></h4>
    
                  <button
                    onclick="viewApplication(
                        '<%= arg_companyName %>',
                        '<%= arg_businessOperationalAddress %>',
                        '<%= arg_phoneNumberPrimaryCompany %>',
                        '<%= arg_businessWebsite %>',
                        '<%= arg_businessEmailAddress %>',
                        '<%= arg_firstname %>',
                        '<%= arg_lastname %>',
                        '<%= arg_phoneNumberPrimary %>',
                        '<%= arg_emailAddress %>',
                        '<%= arg_occupation %>',
                        '<%= arg_KYCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_NRCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_lenderID %>',
                        '<%= arg_LenderLogo %>'
    
                        
                    );"
                    class="btn btn-primary btn-sm"
                  >
                    View Application
                  </button>
                </div>
              </div>
            </div>
            <% } %>
        </div>
        <div style="display: none;" id="ready-lenders">
          <% 
          for (let i = 0; i < readyLenders.length; i++) { %> 
          
            <% 
            let lender = readyLenders[i]; 
            let arg_companyName = readyLenders[i].LenderCompanyInfo.companyName; 
            let arg_businessOperationalAddress
            =readyLenders[i].LenderCompanyInfo.businessOperationalAddress; let
            arg_phoneNumberPrimaryCompany =
            readyLenders[i].LenderCompanyInfo.phoneNumberPrimary; let arg_businessWebsite
            = readyLenders[i].LenderCompanyInfo.businessWebsite; let arg_firstname =
            readyLenders[i].AuthorizedPersonel.firstname; let arg_lastname =
            readyLenders[i].AuthorizedPersonel.lastname; let arg_phoneNumberPrimary =
            readyLenders[i].AuthorizedPersonel.phoneNumberPrimary; let arg_emailAddress =
            readyLenders[i].AuthorizedPersonel.emailAddress; let arg_occupation =
            readyLenders[i].AuthorizedPersonel.occupation; let arg_NRCPath =
            readyLenders[i].AuthorizedPersonel.NRCFilePath; let arg_KYCPath =
            readyLenders[i].LenderKYCDocument.KYCDocumentFilePath; let
            arg_businessEmailAddress =
            readyLenders[i].LenderCompleteSetup.businessEmailAddress; let arg_lenderID =
            readyLenders[i]._id;
            let arg_LenderLogo = readyLenders[i].LenderAdvert.logo;
            %>
            
            <div class="card">
              <div style="display: flex; align-items: center">
                <img
                  style="padding: 10px; "
                  class="logo"
                  src="<%= lender.LenderAdvert.logo %>"
                  alt="Company Logo"
                />
                <div>
                  <h4><%= lender.LenderCompanyInfo.companyName %></h4>
    
                  <button
                    onclick="viewApplication(
                        '<%= arg_companyName %>',
                        '<%= arg_businessOperationalAddress %>',
                        '<%= arg_phoneNumberPrimaryCompany %>',
                        '<%= arg_businessWebsite %>',
                        '<%= arg_businessEmailAddress %>',
                        '<%= arg_firstname %>',
                        '<%= arg_lastname %>',
                        '<%= arg_phoneNumberPrimary %>',
                        '<%= arg_emailAddress %>',
                        '<%= arg_occupation %>',
                        '<%= arg_KYCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_NRCPath.replace(/\\/g, '\\\\') %>',
                        '<%= arg_lenderID %>',
                        '<%= arg_LenderLogo %>'
    
                        
                    );"
                    class="btn btn-primary btn-sm"
                  >
                    View Application
                  </button>
                </div>
              </div>
            </div>
            <% } %>
        </div>

        <script>
          const rejectedLenders = document.getElementById('rejected-lenders');
          const pendingLenders = document.getElementById('pending-lenders');
          const approvedLenders = document.getElementById('approved-lenders');
          const readyLenders = document.getElementById('ready-lenders');

            document.getElementById('pendingBtn').addEventListener('click', () => {
              pendingLenders.style.display = 'block';
              approvedLenders.style.display = 'none';
              rejectedLenders.style.display = 'none';
              readyLenders.style.display = 'none';
            });
          document.getElementById('approvedBtn').addEventListener('click', () => {
            approvedLenders.style.display = 'block';
            pendingLenders.style.display = 'none';
            rejectedLenders.style.display = 'none';
            readyLenders.style.display = 'none';
          });
            document.getElementById('rejectedBtn').addEventListener('click', () => {
              pendingLenders.style.display = 'none';
              approvedLenders.style.display = 'none';
              rejectedLenders.style.display = 'block';
              readyLenders.style.display = 'none';
            });

            document.getElementById('readyBtn').addEventListener('click', () => {
              pendingLenders.style.display = 'none';
              approvedLenders.style.display = 'none';
              rejectedLenders.style.display = 'none';
              readyLenders.style.display = 'block';
            });


        </script>
        

      </div>
      <div class="right">
        <div class="loading-spinner-container" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
          <div class="loading-spinner"  style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
          <div class="spinner-border text-primary" style="width: 100px; height: 100px;" role="status">
            
          </div>
        </div>
        </div>
        

        <div class="applicant-info">
         
          <div style="display: flex; align-items: center">
            
            <div style="padding: 10px; " class="applicant-logo">
              <img
              class="logo"
              src="/assets/images/NoPath - Copy (11).png"
              alt="Company Logo"
            />
            </div>
            
            <div>
              <h4 id="companyName">Bwangu Loans</h4>
              <button id="viewPdfButtonKYC" class="btn btn-secondary btn-sm">
                View KYC Documents
              </button>
            </div>
          </div>

          <div style="display: flex;">
            <p>Application Tracking Number: </p>
            <b class="text-danger" id="application_tracking_number">demo</b>
          </div>

          <div class="divider"></div>

          <div>
            <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div style="padding: 0px; width: 100%;">
              <div style="display: flex;">
                Business Operational Address:
                <p  style="font-weight: bold;" id="businessOperationalAddress"></p>
              </div>
              <div style="display: flex;">
                Phone Number Primary:
                <p  style="font-weight: bold;" id="phoneNumberPrimaryCompany"></p>
              </div>
              <div  style="display: flex;">
                Business Website:
                <a
                  id="businessWebsite"
                  href="https://www.example.com"
                  target="_blank"
                ></a>
              </div>
              <div  style="display: flex;">
                Business Email Address:
                <p  style="font-weight: bold;" id="businessEmailAddress"></p>
              </div>
            </div>

            <div style="padding: 0px; width: 100%;">
              <div style="display: flex;" class="section-heading">
                <h5 style="font-weight: bold; padding-right: 5px;">Authorized Personnel: </h5>
                <button id="viewPdfButtonNRC" class="btn btn-warning btn-sm">
                  View NRC
                </button>
              </div>
              <div  style="display: flex;">
                First Name:
                <p  style="font-weight: bold;" id="firstname"></p>
              </div>
              <div  style="display: flex;">
                Last Name:
                <p  style="font-weight: bold;" id="lastname"></p>
              </div>
              <div style="display: flex;">
                Phone Number (Primary):
                <p  style="font-weight: bold;" id="phoneNumberPrimary"></p>
              </div style="display: flex;">
              <div style="display: flex;">
                Email Address:
                <p  style="font-weight: bold;" id="emailAddress"></p>
              </div>
              <div style="display: flex;">
                Occupation:
                <p  style="font-weight: bold;" id="occupation"></p>
              </div>
              
            </div>
          </div>
          
          <textarea
            class="message-textarea"
            placeholder="Message to Applicant"
            id="rejectionMessage"
          ></textarea>
          <div class="buttons">
            <button id="rejectMFIBtn" class="button reject">Reject</button>
            <button id="approveMFIBtn" class="button approve">Approve</button>
          </div>

          </div>
        </div>
          
      </div>
    </div>

    <script>



      const companyName = document.getElementById("companyName");
      const businessOperationalAddress = document.getElementById(
        "businessOperationalAddress"
      );
      const phoneNumberPrimaryCompany = document.getElementById(
        "phoneNumberPrimaryCompany"
      );
      const businessWebsite = document.getElementById("businessWebsite");
      const firstname = document.getElementById("firstname");
      const lastname = document.getElementById("lastname");
      const phoneNumberPrimary = document.getElementById("phoneNumberPrimary");
      const emailAddress = document.getElementById("emailAddress");
      const occupation = document.getElementById("occupation");
      const NRCPath = document.getElementById("NRCPath");
      const KYCPath = document.getElementById("KYCPath");
      const businessEmailAddress = document.getElementById(
        "businessEmailAddress"
      );
      const lenderID = document.getElementById('application_tracking_number');

      const viewPdfButtonKYC = document.getElementById("viewPdfButtonKYC");
      let KYCFilePath = "public\\document.pdf";

      const viewPdfButtonNRC = document.getElementById("viewPdfButtonNRC");
      let NRCFilePath = "public\\document.pdf";


      const rightContainer = document.querySelector(".applicant-info");
      const loadingSpinner = document.querySelector(".loading-spinner");
      const loadingSpinnerContainer = document.querySelector(".loading-spinner-container");

      function setValues() {
        // Show the loading spinner
        loadingSpinnerContainer.style.display = "block";
        rightContainer.style.display = "none";
      }

      function viewApplication(
        para_companyName,
        para_businessOperationalAddress,
        para_phoneNumberPrimaryCompany,
        para_businessWebsite,
        para_businessEmailAddress,
        para_firstname,
        para_lastname,
        para_phoneNumberPrimary,
        para_emailAddress,
        para_occupation,
        para_KYCFilePath,
        para_NRCFilePath,
        para_id,
        para_logo
      ) {
        companyName.innerText = para_companyName;
        businessOperationalAddress.innerText = para_businessOperationalAddress;
        phoneNumberPrimaryCompany.innerText = para_phoneNumberPrimaryCompany;
        businessWebsite.innerText = para_businessWebsite;
        businessEmailAddress.innerText = para_businessEmailAddress;
        firstname.innerText = para_firstname;
        lastname.innerText = para_lastname;
        phoneNumberPrimary.innerText = para_phoneNumberPrimary;
        emailAddress.innerText = para_emailAddress;
        occupation.innerText = para_occupation;

        KYCFilePath = para_KYCFilePath;
        NRCFilePath = para_NRCFilePath;
        lenderID.innerText = para_id;

        console.log('Logo path: ', para_logo);

        // Assuming you have an HTML element with the class 'applicant-logo'
        const applicantLogo = document.getElementsByClassName('applicant-logo')[0];

        // Create an <img> element and set its src attribute
        const img = document.createElement('img');
        img.className = 'logo';
        img.src = para_logo;
        

        // Clear any existing content in the 'applicant-logo' element and append the new image
        applicantLogo.innerHTML = '';
        applicantLogo.appendChild(img);

        setTimeout(function () {
          // After loading, hide the loading spinner and show the right container
          loadingSpinnerContainer.style.display = "none";
          rightContainer.style.display = "block";

        }, 1000); // Simulate a 1-second loading time (replace with your actual loading time)
        
        loadingSpinnerContainer.style.display = "block";
        rightContainer.style.display = "none";
      }

      viewPdfButtonKYC.addEventListener("click", function () {
        console.log(KYCFilePath);
        viewPDF(KYCFilePath);
      });

      viewPdfButtonNRC.addEventListener("click", function () {
        console.log(NRCFilePath);
        viewPDF(NRCFilePath);
      });

      function viewPDF(filePath) {
        const requestBody = JSON.stringify({ pdfPath: filePath }); // Stringify the file path as JSON

        // On the client side
        fetch("/view-pdf", {
          method: "POST",
          body: requestBody,
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.blob(); // Treat the response as a binary blob
          })
          .then((pdfBlob) => {
            // Create a URL for the PDF blob and open it in a new window or display it in an iframe
            const pdfUrl = URL.createObjectURL(pdfBlob);
            window.open(pdfUrl); // Opens the PDF in a new tab/window
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });
      }

      
      const approveMFIBtn = document.getElementById('approveMFIBtn');

        approveMFIBtn.addEventListener("click", function () {
          console.log('Approving Loan in progress...', lenderID.innerText);
          approveMFIBtn.innerText = `Approving in progress...`;

          const formData = {
            to: 'katongobupe@hotmail.com',
            subject: 'Congratulations! ' + companyName.innerText,
            message: `
              <html>
                <head>
                  <!-- Include Bootstrap CSS here -->
                  <link
                    rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
                  />
                </head>
                <body>
                  <div class="container">
                    <h1 class="text-primary">Congratulations!</h1>
                    <p>Your Amastata MFI Account has been approved.</p>
                    <p>Kind log on the App and Log in as Lender to Complete the Setting up your account</p>
                    <img
                      src="https://i.ibb.co/Jvwm9FK/Ama-Stata-logo.png"
                      alt="AmaStata-logo"
                      class="img-fluid"
                      width="150"
                    />
                    <a
                      href="https://your-dashboard-link.com"
                      class="btn btn-success btn-lg"
                    >
                      Download App
                    </a>
                  </div>
                </body>
              </html>
            `,
            mfi_id: lenderID.innerText,
          };


            fetch("/approve-mfi", {
          method: "POST",
          body: JSON.stringify(formData),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            //SET MFI ACCOUNT STATUS = APPROVED
            if(response.ok)
              console.log('MFI Account Approved');
              approveMFIBtn.innerText = `MFI Approved!`;
              location.reload();

          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });

        });
      

        const rejectMFIBtn = document.getElementById('rejectMFIBtn');
        const rejectionMessage = document.getElementById('rejectionMessage').value;

        rejectMFIBtn.addEventListener("click", function () {
          console.log('Rejecting MFI in progress...', lenderID.innerText);
          rejectMFIBtn.innerText = `Rejecting MFI in progress...`;

          const formData = {
            to: 'katongobupe@hotmail.com',
            subject: 'MFI Account Disapproval! ' + companyName.innerText,
            message: `
              <html>
                <head>
                  <!-- Include Bootstrap CSS here -->
                  <link
                    rel="stylesheet"
                    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
                  />
                </head>
                <body>
                  <div class="container">
                    <h1 class="text-primary"> commiserations!</h1>
                    <p>Your Amastata MFI Account Application has been Rejected.</p>
                    <p>Reason: ` + rejectionMessage + `</p>
                    <img
                      src="https://i.ibb.co/Jvwm9FK/Ama-Stata-logo.png"
                      alt="AmaStata-logo"
                      class="img-fluid"
                      width="150"
                    />
                    <a
                      href="https://your-dashboard-link.com"
                      class="btn btn-success btn-lg"
                    >
                      Download App
                    </a>
                  </div>
                </body>
              </html>
            `,
            mfi_id: lenderID.innerText,
          };


            fetch("/reject-mfi", {
          method: "POST",
          body: JSON.stringify(formData),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => {
            //SET MFI ACCOUNT STATUS = Rejected
            if(response.ok)
              console.log('MFI Account Rejected');
              rejectMFIBtn.innerText = `MFI Rejected`;
              location.reload();
          })
          .catch((error) => {
            console.error("Fetch error:", error);
          });

        });
      

    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
